.head {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 45vh;
  padding-left: 10px;
  color: rgb(0, 0, 0);
  font-size: 24px;

  background-color: #ffffff77;
  padding: 10px;
  border-radius: 5px;

  gap: 5px;

  a {
    text-decoration: underline;
    color: #050033;
  }
}
